
@if (this.uploadProgress) {
    <mat-progress-bar class="progress-bar" mode="indeterminate" [value]="uploadProgress" ></mat-progress-bar>
}
<div id="upload">
    <div id="header">
        <p>Upload file</p>
    </div>
    
    <div id="main">
        <input type="file" name="file-input" id="file-input" (change)="onFilesSelected($event)" class="file-input" #fileUpload >
        
        <div class="file-upload">
            <p id="file-upload-name" class="file-upload-name">
                {{ fileName || "No file uploaded yet."}}
            </p>
    
            <!-- <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attack_file</mat-icon>
            </button> -->
            <div id="file-upload-button" class="file-upload-button">
                <button mat-raised-button color="primary" (click)="fileUpload.click()">Attach</button>
            </div>
        </div>
        
        <div class="progress">
            <!-- @if (uploadProgress) { -->
                
            <!-- } -->

            @if (uploadProgress) {
                <mat-icon class="cancel-upload" (click)="cancelUpload()" >delete_forever</mat-icon>
            }

        </div>
    </div>
</div>